/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.mtl filter=lfs diff=lfs merge=lfs -text
*.frag filter=lfs diff=lfs merge=lfs -text
*.vert filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.blend1 filter=lfs diff=lfs merge=lfs -text
*.geom filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
/models/ship/tmp15hpkohu filter=lfs diff=lfs merge=lfs -text
/models/ship/tmp6y__0ton filter=lfs diff=lfs merge=lfs -text
/models/ship/tmpao0n7863 filter=lfs diff=lfs merge=lfs -text
/models/ship/tmpmvs7s_aa filter=lfs diff=lfs merge=lfs -text
/models/ship/tmptueuliad filter=lfs diff=lfs merge=lfs -text
/models/light/tmpblhx_uuc filter=lfs diff=lfs merge=lfs -text
/models/light/tmpn0s7biev filter=lfs diff=lfs merge=lfs -text
/models/light/tmpusku015u filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp0qylhl5a filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp10rpajtq filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp21cpd5n9 filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp32bidjib filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp3bbk4rbp filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp3mjgg58u filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp4co83okx filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp4jxtof8p filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp4tog6kvw filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp5fwv06cz filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp5p8f1d_w filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp6fsp5ssw filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp87idu7sj filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp8iqpeg0n filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp9c0rrjsd filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp9r33v_mm filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp_3v4wce6 filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp_d3laosg filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmp_yh8zloh filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpa7uu70v0 filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpbgfxre73 filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpc35btvvx filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpd6mqnwjq filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpejdxq484 filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpgzvvk199 filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmph_lc2fxg filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmphsvs0ej_ filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpiftv8ap0 filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpimx6fqci filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpku939yet filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmplq6mx3se filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmplu_mr9it filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpmed_03_i filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpmv1fs4sw filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpmyb0hwzp filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpnibbfnlj filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmppva3ar2b filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpq9o2dktu filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpql8efa7s filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpqt7ytha8 filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpriy2ia5o filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmprpcxd2k5 filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmprqn1abc0 filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpwtfi4w3u filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpwtrxvt4w filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpx3kcl1pd filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpx44n_zz4 filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpxr96rons filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpyg6qf447 filter=lfs diff=lfs merge=lfs -text
/models/scene/textures/tmpzq7b84c_ filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
models/* filter=lfs diff=lfs merge=lfs -text
*.blend* filter=lfs diff=lfs merge=lfs -text
